<header class = "container--full page-header">
  
    <div class="page-header--content">
        <div class="logo">
            <a href={{ "/" | url }}>
                molekule
            </a>
        </div>
        <nav class ="primary-nav">
            <ul role = "list" class = "nav-list">
                <li role = "list-item"><a href={{ "/analisis-numerico" | url }}> Análisis Numérico</a></li>
                {# <li role = "list-item"><a href={{ "/arduino" | url }}> Arduino</a></li> #}
                <li role = "list-item"><a href={{ "/control-automatico"| url }}> Control Automático</a></li>
                <li role = "list-item"><a href={{ "/miniproyectos"| url }}> Miniproyectos</a></li>
                <li role = "list-item"><a href={{ "/mecanica-fluidos" | url }}> Mecánica de Fluidos</a></li>  
            </ul>
        </nav>
        <nav class ="primary-nav">
            <ul role = "list" class = "nav-list">
                <li role = "list-item"><a href={{ "/authors" | url }}> About </a></li>
            </ul>
        </nav>
    </div>
   
    
</header>