<header class = "container--full page-header">
  
    <div class="page-header--content">
        <div class="logo">
            <a href={{ "/" | url }}>
                molekule
            </a>
        </div>
        <nav class ="primary-nav">
            <ul role = "list" class = "nav-list">
                
                <li role = "list-item"><a href={{ "/mecanica-de-fluidos" | url }}> Mecanica de Fluidos</a></li>

                <li role = "list-item"><a href={{ "/fenomenos-de-transporte"| url }}> Fenómenos de Transporte</a></li>
                <li role = "list-item"><a href={{ "/analisis-numerico" | url }}> Análisis Numérico</a></li>
                <li role = "list-item"><a href={{ "/blog" | url }}> Blog</a></li>  
                
                
            </ul>
            
        </nav>
        <nav class ="primary-nav">
            <ul role = "list" class = "nav-list">
                                
                <li role = "list-item"><a href={{ "/authors" | url }}> Colaboradores </a></li>
                
            </ul>
            
        </nav>
    </div>
   
    
</header>